 <a href="/dishinfo">
 <div class="row my-card my-1 align-items-center">

  <div class="col-4">
    <img class='img-fluid'
      src="https://images.unsplash.com/photo-1558030006-450675393462?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80"
      alt="">
  </div>

  <!-- <div class="col-6">
    <div class="row align-content-center content">
      <h3>Shrimp King</h3>
      <p>$8.99</p>
    </div>
  </div> -->

  <div class="col-6">
  
      <p>Shrimp Coctail <span class='minor'>-Tipsy Goat</span></p>
      <p>$8.99</p>

  </div>

  <div class="col-2">
    <p>HR</p>
  </div>

</div>
</a>