<!-- FORM -->
<div class="container-fluid py-3">
  <form action="/search" method="GET">
    <div class="form-row align-items-center">

      <div class="input-group col-12 col-md-6 py-1">
        <div class="input-group-prepend">
          <div class="input-group-text">Im Craving ...</div>
        </div>
        <input name="ingredient" type="text" class="form-control form-control-lg" id="" placeholder="ingredient">
      </div>

      <div class="input-group col-12 col-md-6 py-1">
        <div class="input-group-prepend">
          <div class="input-group-text">Searching In</div>
        </div>
        <input name="location" type="text" class="form-control form-control-lg" id="" placeholder="location">
      </div>
    </div>
    <button class='d-none'></button>
  </form>
</div>