<%- include("partials/header")  %> 


<%- include("partials/searchBar")  %>

<!-- LOOP -->
<% options.forEach(option => { %>
<div class="container-fluid my-list">
  <a href="#">
    <h3><%= option.category %> </h3>
  </a>
</div>
<% }) %>











<%- include("partials/footer")  %> 