<%- include("../partials/header")  %>






<div class="container-fluid py-3">
    <a href="/spot/new" class='btn btn-warning btn-block bg-yellow'>Create New Spot</a>
</div>



<% spots.forEach(spot => { %>
  <div class="container-fluid my-list">
    <a href="/spot/<%=spot._id%>">
      <h3><%= spot.name %></h3>
    </a>
  </div>
<% }) %>




<%- include("../partials/footer")  %>